.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 70px 0 20px 0;
    background-image: url("./../../../Assets/blury.svg");
    background-position: initial;
    
    
  }

@media  screen and (max-width:1110px) {
  .home-container {
    background-position: center;
    margin: 50px 0 20px 0;
    background-size: cover;
    
  }
}


@media  screen and (max-width:450px) {
  .home-container {
    background-position: bottom;
    margin: 30px 0 30px 0;
    background-size:cover;
 
  }
}

